body {
	background:#111111 none repeat scroll 0 0;
	font-size:1.4em;
	color:#5C5C5C;
	overflow:hidden;
	height:100%;
}
#sidebar {
	float:left;
	width:200px;
	margin-top:120px;
}
h2 {
	margin:15px;
	padding:0;
}
h2 span {
	padding:6px;
}
.word {
	font-size:1.5em;
}
ul#tweets {
	float:right;
	width:85%;
	height: auto;
	left:200px;
	position: absolute;
	height:100%;
	overflow: hidden;
	margin: 0 20px 0 30px;
	padding: 0;
}
ul#tweets li {
	list-style:none;
	padding:10px 0;
}